<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic WeatherApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <span class="city">{{ res.name}}</span>
    <span class="date">{{ res.dt }}</span>

    <div class="icon">
      <img src="http://openweathermap.org/img/wn/{{res.weather[0]?.icon}}@2x.png" alt="">
    </div>

    <span class="description">{{ res.weather?.main}}</span>
    <span class="temperature">{{ res.main.temp }}</span>

    <ion-grid>

        <ion-row>
            <ion-col class="hi-sm">{{ res.main.temp_max }}</ion-col>
            <ion-col class="hi-sm">{{ res.main.temp_min }}</ion-col>

        </ion-row>
    </ion-grid>
  </div>
</ion-content>
